body {
  margin: 0 auto;
  color: #fff; }
  body .main {
    margin: 5rem auto;
    width: calc(100vw - 20%);
    min-height: calc(100vh - 40rem);
    max-height: calc(100vh - 10rem); }
    body .main .app-title {
      padding: .3rem 1rem;
      background-color: #673AB7;
      display: flex;
      align-items: baseline;
      justify-content: space-between; }
      body .main .app-title .signout {
        cursor: pointer;
        display: none; }
    body .main .chat-container {
      display: flex;
      flex-direction: row;
      background-color: #FCFCFC; }
      body .main .chat-container .chat-group {
        min-width: 20%; }
        body .main .chat-container .chat-group h3 {
          margin: 0;
          padding: .8rem;
          background-color: #7E57C2; }
        body .main .chat-container .chat-group .group-list {
          padding: .5rem 0;
          background-color: #f5f5f5;
          overflow: auto;
          height: 470px; }
          body .main .chat-container .chat-group .group-list a {
            text-decoration: none; }
            body .main .chat-container .chat-group .group-list a .group {
              color: #9575CD;
              padding: 1rem .5rem;
              margin: 0;
              cursor: pointer; }
              body .main .chat-container .chat-group .group-list a .group.active {
                color: #673AB7;
                background-color: #FCFCFC; }
      body .main .chat-container .chat-online {
        min-width: 20%;
        display: none; }
        body .main .chat-container .chat-online h3 {
          margin: 0;
          padding: .8rem;
          background-color: #9575CD; }
        body .main .chat-container .chat-online .user-list {
          padding: 0;
          background-color: #f5f5f5;
          overflow: auto;
          height: 470px;
          display: none; }
          body .main .chat-container .chat-online .user-list.user-general {
            display: none; }
          body .main .chat-container .chat-online .user-list.user-socketio {
            display: none;
            background-color: #FF8A80; }
            body .main .chat-container .chat-online .user-list.user-socketio p {
              color: #464646; }
          body .main .chat-container .chat-online .user-list.user-news {
            display: none;
            background-color: #FF80AB; }
            body .main .chat-container .chat-online .user-list.user-news p {
              color: #464646; }
          body .main .chat-container .chat-online .user-list .user {
            color: #464646;
            padding: 1rem;
            margin: 0; }
          body .main .chat-container .chat-online .user-list .private-chat.active {
            background-color: #fff;
            color: #464646; }
          body .main .chat-container .chat-online .user-list .private-chat .user {
            cursor: pointer; }
            body .main .chat-container .chat-online .user-list .private-chat .user:hover {
              text-decoration: underline; }
      body .main .chat-container .chat-room {
        min-width: 60%;
        height: 532px;
        display: none; }
        body .main .chat-container .chat-room .chat-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0;
          padding: .8rem;
          color: #464646;
          background-color: #EDE7f6; }
          body .main .chat-container .chat-room .chat-header h3 {
            margin: 0; }
          body .main .chat-container .chat-room .chat-header .chat-settings {
            margin: 0;
            cursor: pointer;
            color: #673AB7;
            display: none; }
        body .main .chat-container .chat-room .chat-main {
          height: 91%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          body .main .chat-container .chat-room .chat-main .chat-box {
            height: 100%;
            overflow: auto;
            display: flex;
            flex-direction: column; }
            body .main .chat-container .chat-room .chat-main .chat-box.room-general {
              display: none; }
            body .main .chat-container .chat-room .chat-main .chat-box.room-socketio {
              display: none; }
            body .main .chat-container .chat-room .chat-main .chat-box.room-news {
              display: none; }
            body .main .chat-container .chat-room .chat-main .chat-box .chat-msg {
              padding: 0 1rem;
              color: #464646;
              font-size: 1.5rem; }
              body .main .chat-container .chat-room .chat-main .chat-box .chat-msg.me {
                text-align: right; }
              body .main .chat-container .chat-room .chat-main .chat-box .chat-msg.new {
                text-align: center;
                font-size: .8rem;
                color: #9575CD;
                font-style: italic; }
              body .main .chat-container .chat-room .chat-main .chat-box .chat-msg.leave {
                text-align: center;
                font-size: .8rem;
                color: red;
                font-style: italic; }
          body .main .chat-container .chat-room .chat-main .chat-typing {
            color: rgba(0, 0, 0, 0.3);
            padding: .5rem;
            display: none; }
      body .main .chat-container .login {
        color: #464646;
        width: 100%;
        display: none; }
        body .main .chat-container .login .login-message {
          padding: 0 .5rem; }
  body .chat-input form {
    display: flex; }
    body .chat-input form textarea, body .chat-input form input {
      resize: none;
      width: 99.2%;
      font-size: 1.5rem;
      padding: .3rem .5rem; }
      body .chat-input form textarea:focus, body .chat-input form input:focus {
        outline: none !important;
        box-shadow: none; }
    body .chat-input form input {
      height: 2rem; }
    body .chat-input form button {
      width: 7rem;
      color: #fcfcfc;
      margin: 0;
      background-color: #673AB7; }
